/build
.idea
*.iml
*.log
*.tmp
*.bak
*.swp
.DS_Store
node_modules
dist
coverage
.env
.env.local
.env.development
.env.test
build.gradle
gradle
gradle-wrapper.jar
gradle-wrapper.properties
gradlew
gradlew.bat
